_
.env
.stryker-tmp
.turbo
.vscode/settings.json
backend_secrets.py
backend-nestjs
better_auth_secret
build
built
bun.lockb
certbot
database_vault
destination
dist
dist-types
dist2
docker
educational-testings
get-git-repo*.tgz
gh-page/bundled_deps
gh-page/coverage
joiners-*.tgz
node_modules
out
package-lock.json
reports
stats.html
temp.json
tmp
