_
.env
.stryker-tmp
.turbo
.vscode/settings.json
.next
next-env.d.ts
apache-superset-init*.tgz
backend_secrets.py
backend-nestjs
better_auth_secret
build
built
bun.lockb
certbot
database_vault
destination
dist
dist-types
dist2
docker
educational-testings
**/gh-page/bundled_deps
**/gh-page/coverage
gitdl*.tgz
joiners-*.tgz
node_modules
out
package-lock.json
reports
scratchpad.ts
reposCreatedAndStarredByMe.json
stats.html
superset
temp.json
tmp
.swc/
sw.js
certificates/

# temporarily
fetch-github-folder_issues_data.json
packages/ts-key-not-enum/report.json
packages/ts-key-not-enum/mdast.json
packages/gitdl/gh-page/bundled_deps
temp-store
