pane_frames false
layout {
  pane split_direction="vertical" {
    pane {
      name "Next.js Demo"
      cwd "./packages/next-midi-demo"
      command "bun"
      args "dev"
    }
    pane split_direction="horizontal" {
      pane {
        name "MIDI"
        cwd "./packages/effect-web-midi"
        command "bun"
        args "dev"
      }
      pane {
        name "MediaCapture"
        cwd "./packages/effect-web-mediacapture-streams"
        command "bun"
        args "dev"
      }
      pane {
        name "Audio"
        cwd "./packages/effect-web-audio"
        command "bun"
        args "dev"
      }
    }
    // Optional: Adds a status bar at the bottom
    // pane size=1 borderless=true {
    //   plugin location="zellij:status-bar"
    // }
  }
}
