pane_frames false
layout {
  pane split_direction="vertical" {
    pane {
      name "Next.js tsgo watch"
      cwd "./apps/next-midi-demo"
      command "bunx"
      args "tsgo" "--noEmit" "--watch" "--declaration" "false" "--declarationMap" "false" "--preserveWatchOutput" "false"
    }
    pane split_direction="horizontal" {
      pane {
        name "Next.js dev"
        cwd "./apps/next-midi-demo"
        command "bun"
        args "dev"
      }
      pane {
        name "Web MIDI tsgo watch"
        cwd "./packages/effect-web-midi"
        command "bun"
        args "dev"
      }
      pane {
        name "Web MediaCapture tsgo watch"
        cwd "./packages/effect-web-mediacapture-streams"
        command "bun"
        args "dev"
      }
      pane {
        name "Web Audio tsgo watch"
        cwd "./packages/effect-web-audio"
        command "bun"
        args "dev"
      }
    }
  }
}
