__pycache__
.dockerignore
.env
.git
.gitignore
.next
.turbo
.venv
.vscode
.github
*.db
back_venv
backend_secrets.py
backend-nestjs
better_auth_secret
build
built
certbot
curl_request.sh
database_vault
deployment
dev.env
dist
dist-types
dist2
mise.toml
Dockerfile
educational-testings
node_modules
npm-debug.log
out
prompt_custom.json
prompt.json
README.md
start_backend.sh
temp
test.py
testbd.py
venv
